body{
    background-color: #310a0b;
    color:#eaeaea;
}
.context{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
td{
    border:1px solid #272727;
    color:#272727;
    width:20vh;
    height:20vh;
    cursor: pointer;
    flex-grow: 1;
    background-color: aliceblue;
}
table{
    margin-top:20px;
    border:5px solid #272727; 
    background-color: #272727;
}
button{
    padding: 15px;
    font-weight: bold;
    border-radius: 10px;
}